@import "tailwindcss";
/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
  }

  @layer utilities {
    .animate-fadeIn {
      animation: fadeIn 0.3s ease-in-out forwards;
    }
  
    @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: translateY(10px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

.path-animation {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: drawPath 2s linear forwards; 
}

@keyframes drawPath {
  to {
    stroke-dashoffset: 0;
  }
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(244, 229, 229);
}

*::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 2px;
  /* border: 3px solid white; */
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(16, 185, 129, 0.7); }
  70% { box-shadow: 0 0 0 10px rgba(16, 185, 129, 0); }
  100% { box-shadow: 0 0 0 0 rgba(16, 185, 129, 0); }
}
.pulse {
  animation: pulse 1.5s infinite;
}
